<p id="notice"><%= notice %></p>

<p>
  <strong>Jigsawid:</strong>
  <%= @company.jigsawid %>
</p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Website:</strong>
  <%= @company.website %>
</p>

<p>
  <strong>Overview:</strong>
  <%= @company.overview %>
</p>

<p>
  <strong>Headquarters:</strong>
  <%= @company.headquarters %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @company.phone %>
</p>

<p>
  <strong>Industries:</strong>
  <%= @company.industries %>
</p>

<p>
  <strong>Employees:</strong>
  <%= @company.employees %>
</p>

<p>
  <strong>Revenue:</strong>
  <%= @company.revenue %>
</p>

<p>
  <strong>Ownership:</strong>
  <%= @company.ownership %>
</p>

<p>
  <strong>Contacts:</strong>
  <%= @company.contacts %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
